.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropDownContainer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDownMenu {
  width: 40%;
  height: 20%;
}

.tableContainer {
  width: 100%;
  border: 1px solid black;
}

.tableLabelRow {
  background-color: blue;
  color: white;
}
.tableCellOrder {
  width: 5%;
}
.tableCellLabel {
  width: 50%;
}

.tableCellCount {
  width: 20%;
}

.tableDataRow {
  text-align: center;
  border: 1px solid black;
}

.labelText {
  text-align: start;
  padding-left: 1%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
